<div id="menubar">
	<div class="wrapper">
		<div id="company_name">
			<h3>Boxes & Bins</h3>
		</div>
		<div id="page_title">
			<input value=" <%= page ? page.title : "Add Page Title" %> ">
		</div>
		<div class="links">
			<ul>
				<li><%= link_to 'Index', index_path(@user) %></li>
				<li><%= link_to_function 'Save', 'save_request();' %></li>				
				<li><%= link_to_function 'Load', 'load_request();' %></li>				
				<li><%= link_to 'Signup', signup_path %></li>
				<li><%= link_to 'Login', login_path %></li>	

			</ul>
		</div>
		
	</div>
		
		<div id="page_id">
			<p><%= page ? page.id : "0" %></p>
		</div>
		<div id="user_id">
			<p><%= user ? user.id : "0" %></p>
		</div>


	</div>
</div>
