<% content_for :title do %>
  <%= "| #{@page.title}" if @page.title != "Page Title" %>
<% end %>

<div id="menubar">
	<div class="wrapper">
		<div id="company_name">
			<h3>Boxes</h3>
		</div>
		<div id="page_title">
			<input value="Page Title">
		</div>
		<div class="links">
			<ul>
				<li><%= link_to_function 'Save', 'save_request();' %></li>
        <!-- <li><%= link_to 'Login', login_path %></li>   -->
        <!-- <li><%= link_to 'Signup', signup_path %></li> -->
			</ul>
		</div>
	</div>
</div>

<%= render :partial => "shared/toolbar" %>

<%= render :partial => "shared/ruler" %>

<div id="page"> </div>

<div id="notifications">
  <div id="flash">
    <span>Document Saved</span>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var content = <%= @content %>;
  var uid = "<%= @uid %>";
</script>
