<% content_for :title do %>
  <%= "| #{@page.title}" if @page.title != "Page Title" %>
<% end %>

<div id="menubar">
	<div class="wrapper">
		<div id="company_name">
			<h3>Boxes & Bins</h3>
		</div>
		<div id="page_title">
			<input value="Page Title">
		</div>
		<div class="links">
			<ul>
				<li><%= link_to_function 'Save', 'save_request();' %></li>
        <!-- <li><%= link_to 'Login', login_path %></li>   -->
        <!-- <li><%= link_to 'Signup', signup_path %></li> -->
			</ul>
		</div>
	</div>
</div>

<div id="toolbar">

  <div class="section">
    <div id="styles-button" class="deselected">
      <div class="sources values">
        <ul>
          <li>New York Times</li>
          <li>Reuters</li>
          <li>Facebook</li>
          <li>Google</li>
        </ul>
      </div>
    </div>
    <div id="styles-dropdown">
      <div class="styles values">
        <ul>
          <li>Header 1</li>
          <li>Header 2</li>
          <li>Paragraph 1</li>
          <li>Paragraph 2</li>
          <li>Link</li>
        </ul>
      </div>      
    </div>
    <div class="clear"></div>
  </div>

  <div class="section">
    <div class="font dropdown"> 
      <span class="selected option">Helvetica</span>
      <div class="arrows"></div>
      <div class="font values">
        <ul>
          <li>Helvetica</li>
          <li>Arial</li>
          <li>Verdana</li>
          <li>Times New-Roman</li>
        </ul>
      </div>
    </div>

    <div class="font-size dropdown text">
      <input type="text" value="12" />
      <div class="down-arrow"></div>
      <div class="font-size values">
        <ul>
          <li>1  </li>
          <li>2  </li>
          <li>3  </li>
          <li>4  </li>
          <li>5  </li>
          <li>6  </li>
          <li>7  </li>
          <li>8  </li>
          <li>9  </li>
          <li>10 </li>
          <li>11 </li>
          <li>12 </li>
          <li>13 </li>
          <li>14 </li>
          <li>15 </li>
          <li>16 </li>
          <li>17 </li>
          <li>18 </li>
          <li>19 </li>
          <li>20 </li>
          <li>21 </li>
          <li>22 </li>
          <li>23 </li>
          <li>24 </li>
          <li>25 </li>
          <li>26 </li>
          <li>27 </li>
          <li>28 </li>
          <li>29 </li>
          <li>30 </li>
          <li>31 </li>
          <li>32 </li>
          <li>33 </li>
          <li>34 </li>
          <li>35 </li>
          <li>36 </li>
          <li>37 </li>
          <li>38 </li>
          <li>39 </li>
          <li>40 </li>
          <li>41 </li>
          <li>42 </li>
          <li>43 </li>
          <li>44 </li>
          <li>45 </li>
          <li>46 </li>
          <li>47 </li>
          <li>48 </li>
          <li>49 </li>
          <li>50 </li>
          <li>51 </li>
          <li>52 </li>
          <li>53 </li>
          <li>54 </li>
          <li>55 </li>
          <li>56 </li>
          <li>57 </li>
          <li>58 </li>
          <li>59 </li>
          <li>60 </li>
          <li>61 </li>
          <li>62 </li>
          <li>63 </li>
          <li>64 </li>
          <li>65 </li>
          <li>66 </li>
          <li>67 </li>
          <li>68 </li>
          <li>69 </li>
          <li>70 </li>
          <li>71 </li>
          <li>72 </li>
          <li>73 </li>
          <li>74 </li>
          <li>75 </li>
          <li>76 </li>
          <li>77 </li>
          <li>78 </li>
          <li>79 </li>
          <li>80 </li>
          <li>81 </li>
          <li>82 </li>
          <li>83 </li>
          <li>84 </li>
          <li>85 </li>
          <li>86 </li>
          <li>87 </li>
          <li>88 </li>
          <li>89 </li>
          <li>90 </li>
          <li>91 </li>
          <li>92 </li>
          <li>93 </li>
          <li>94 </li>
          <li>95 </li>
          <li>96 </li>
          <li>97 </li>
          <li>98 </li>
          <li>99 </li>
          <li>100</li>
        </ul>
      </div>
      
      <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
  </div>

  <div class="section">
    <div id="colors" class="2" style="background-color:#000000;">

      <div class="colors values">
        <ul class="theme clear">
          <li class="1" style="background-color:#ffffff;">
          </li>
          <li class="2" style="background-color:#000000;"></li>
          <li class="3" style="background-color:#eeece1;"></li>
          <li class="4" style="background-color:#1f497d;"></li>
          <li class="5" style="background-color:#4f81bd;"></li>
          <li class="6" style="background-color:#c0504d;"></li>
          <li class="7" style="background-color:#9bbb59;"></li>
          <li class="8" style="background-color:#8064a2;"></li>
          <li class="9" style="background-color:#4bacc6;"></li>
          <li class="10" style="background-color:#f79646;"></li>
        </ul>
        <div class="clear" style="height:4px;"></div>
        <ul class="base top">
          <li class="11" style="background-color:#f2f2f2"></li>
          <li class="12" style="background-color:#7f7f7f"></li>
          <li class="13" style="background-color:#ddd9c3"></li>
          <li class="14" style="background-color:#c6d9f1"></li>
          <li class="15" style="background-color:#dce6f2"></li>
          <li class="16" style="background-color:#f2dcdb"></li>
          <li class="17" style="background-color:#ebf1de"></li>
          <li class="18" style="background-color:#e6e0ec"></li>
          <li class="19" style="background-color:#dbeef4"></li>
          <li class="21" style="background-color:#fdeada"></li>
        </ul>
        <ul class="base">
          <li class="22" style="background-color:#d9d9d9"></li>
          <li class="23" style="background-color:#595959"></li>
          <li class="24" style="background-color:#c4bd97"></li>
          <li class="25" style="background-color:#8eb4e3"></li>
          <li class="26" style="background-color:#b9cde5"></li>
          <li class="27" style="background-color:#e6b9b8"></li>
          <li class="28" style="background-color:#d7e4bd"></li>
          <li class="29" style="background-color:#ccc1da"></li>
          <li class="30" style="background-color:#b7dee8"></li>
          <li class="31" style="background-color:#fcd5b5"></li>
        </ul>
        <ul class="base">
          <li class="32" style="background-color:#bfbfbf"></li>
          <li class="33" style="background-color:#404040"></li>
          <li class="34" style="background-color:#948a54"></li>
          <li class="35" style="background-color:#558ed5"></li>
          <li class="36" style="background-color:#95b3d7"></li>
          <li class="37" style="background-color:#d99694"></li>
          <li class="38" style="background-color:#c3d69b"></li>
          <li class="39" style="background-color:#b3a2c7"></li>
          <li class="40" style="background-color:#93cddd"></li>
          <li class="41" style="background-color:#fac090"></li>
        </ul>
        <ul class="base">
          <li class="42" style="background-color:#a6a6a6"></li>
          <li class="43" style="background-color:#262626"></li>
          <li class="44" style="background-color:#4a452a"></li>
          <li class="45" style="background-color:#17375e"></li>
          <li class="46" style="background-color:#376092"></li>
          <li class="47" style="background-color:#953735"></li>
          <li class="48" style="background-color:#77933c"></li>
          <li class="49" style="background-color:#604a7b"></li>
          <li class="50" style="background-color:#31859c"></li>
          <li class="51" style="background-color:#e46c0a"></li>
        </ul>
        <ul class="base bottom">
          <li class="52" style="background-color:#7f7f7f"></li>
          <li class="53" style="background-color:#0d0d0d"></li>
          <li class="54" style="background-color:#1e1c11"></li>
          <li class="55" style="background-color:#254061"></li>
          <li class="56" style="background-color:#254061"></li>
          <li class="57" style="background-color:#632523"></li>
          <li class="58" style="background-color:#4f6228"></li>
          <li class="59" style="background-color:#403152"></li>
          <li class="60" style="background-color:#215968"></li>
          <li class="61" style="background-color:#984807"></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <ul class="options">
      <li id="bold"></li>
      <li id="italics"></li>
      <li id="underline"></li>
    </ul>
    <ul class="paragraph options">
      <li id="left-align"></li>
      <li id="center-align"></li>
      <li id="right-align"></li>
      <li id="justify"></li>
    </ul>

    <div class="clear"></div>
  </div>

  <div class="right section" style="border:none;">
    <div id="information"></div>
  </div>
  <div class="right section">
    <div id="viewing-modes">
      <ul>
        <li class="typing mode"></li>
        <li class="content-edit mode"></li>
        <li class="preview mode"></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="ruler">
  <div class=hundred-pixels>
    <span class="value">0</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
   </div>
   <div class=hundred-pixels>
     <span class="value">100</span>
     <ul class="pixels">
       <li class="one"></li>
       <li class="two"></li>
       <li class="three"></li>      
       <li class="four"></li>
       <li class="five"></li>
       <li class="six"></li>
       <li class="seven"></li>
       <li class="eight"></li>
       <li class="nine"></li>
       <li class="ten"></li>
     </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">200</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
   </div>     
  <div class=hundred-pixels>
   <span class="value">300</span>
   <ul class="pixels">
     <li class="one"></li>
     <li class="two"></li>
     <li class="three"></li>      
     <li class="four"></li>
     <li class="five"></li>
     <li class="six"></li>
     <li class="seven"></li>
     <li class="eight"></li>
     <li class="nine"></li>
     <li class="ten"></li>
   </ul>
  </div>       
  <div class=hundred-pixels>
    <span class="value">400</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>       
  <div class=hundred-pixels>
   <span class="value">500</span>
   <ul class="pixels">
     <li class="one"></li>
     <li class="two"></li>
     <li class="three"></li>      
     <li class="four"></li>
     <li class="five"></li>
     <li class="six"></li>
     <li class="seven"></li>
     <li class="eight"></li>
     <li class="nine"></li>
     <li class="ten"></li>
   </ul>
  </div>           
  <div class=hundred-pixels>
    <span class="value">600</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
   </div>
  <div class=hundred-pixels>
    <span class="value">700</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">800</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">900</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">1000</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">1100</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">1200</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class=hundred-pixels>
    <span class="value">1300</span>
    <ul class="pixels">
      <li class="one"></li>
      <li class="two"></li>
      <li class="three"></li>      
      <li class="four"></li>
      <li class="five"></li>
      <li class="six"></li>
      <li class="seven"></li>
      <li class="eight"></li>
      <li class="nine"></li>
      <li class="ten"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>

<div id="page">
</div>

<div id="notifications">
  <div id="flash">
    <span>Document Saved</span>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var content = <%= @content %>;
  var uid = "<%= @uid %>";
</script>
